@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: absolute;
  width: 100vw;
}

.leaflet-container {
  width: 100vw;
  height: 75vh;
}

@media only screen and (min-width: 1280px) {
  .leaflet-container {
    width: 72vw;
    height: 75vh;
  }
}

.leaflet-popup-content {
  margin: 14px 10px 14px 10px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #20222c !important;
}
